
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
        <ion-button *ngIf="room.status != 'unready'" (click)="showUsers()" color="primary"> 
          <ion-icon slot="icon-only" name="contacts"></ion-icon>
        </ion-button>
        <ion-button (click)="showHelp()" color="primary"> 
          <ion-icon slot="icon-only" name="help-circle"></ion-icon>
        </ion-button>
        <ion-button (click)="tryExit()" color="primary"> 
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title color="primary">Partida {{room.roomId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="room.status == 'unready'">
    <h1>¿Preparado?</h1>
    <ion-list>
        <ion-item *ngFor="let user of room.users">
          <ion-icon 
          [name]="!user.connected ? 'close-circle-outline' : user.ready ? 'checkmark-circle-outline' : 'time'"
          [color]="!user.connected ? 'danger' : user.ready ? 'success' : 'warning'"
          style="margin-right: 15px"
             ></ion-icon>
          <ion-label>
            {{ user.username }}
          </ion-label>
          <ion-badge color="primary">{{ user.points}}</ion-badge>
        </ion-item>
    </ion-list>
    <ion-button *ngIf="!readySent" expand="block" (click)="ready()">Listo! Ya estamos todos!</ion-button>
    <ion-label *ngIf="readySent" color="success">Esperando confirmación del resto de jugadores...</ion-label>
</ion-content>

<ion-content padding *ngIf="room.status == 'defining'">
  <h1>A desfinir</h1>
  <h2>"<b>{{ room.word }}</b>":</h2>
  <ion-textarea [(ngModel)]="definition" (onkeyup)="changeDefinition()" placeholder="Escribe aquí tu definición..."></ion-textarea>
  <div class="advice">Escribe una definición creible para engañar al resto</div>
  <ion-button expand="block" (click)="sendDefinition()">Enviar definición</ion-button>
  <div class="result" *ngIf="definitionSent == definition && definition">
    Definición enviada! Puedes modificarla hasta que el resto terminen y enviar una distinta.
  </div>
</ion-content>

<ion-content padding *ngIf="room.status == 'voting'">
    <h1>A votar</h1>
    <h2>"<b>{{ room.word }}</b>":</h2>
    <ion-list>
        <ion-item class="definition-option" *ngFor="let definition of room.definitions" (click)="voteDefinition(definition)">
          <ion-icon *ngIf="definition == definitionVoted" name="flag" float="left"></ion-icon>
          {{ definition }}
        </ion-item>
    </ion-list>
    <div class="advice">Selecciona la que creas que es la verdadera.</div>
    <div class="result" *ngIf="definitionVoted">
      Definición votada! Puedes modificar tu elección hasta que el resto terminen y votar una distinta.
    </div>
    
</ion-content>