
<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Ayuda</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()" color="primary"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Como conectar</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-content">
      <div class="description"><b>Desfiniciones</b> es un juego para jugar en familia, con los amigos o con enemigos...pero no para jugar solo.</div>
      <div class="description">Empezar a jugar es fácil y rápido:</div>
      <div class="description">Que uno del grupo cree una sala y proporcione el código de esta sala al reso para que se unan a la partida.</div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Como jugar</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-content">
        <div class="number">1</div>
        <div>El sistema seleccionará aleatoriamente una palabra real pero usualmente poco conocida.</div>
        <div class="number">2</div>
        <div>Cada jugador escribirá una "desfinición" para esa palabra.</div>
        <div class="number">3</div>
        <div>Se mostrarán todas las "desfiniciones" con la definición real y se votará.</div>
        <div class="number">4</div>
        <div>El objetivo es acertar cual es la definición verdadera... y conseguir engañar al resto para que voten la tuya es la verdadera.</div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Feedback</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si encuentras algún fallo, te gusta el juego y quieres más palabras o alguna funcionalidad extra... contactame en <a href="mailto:miyoda@gmail.com?Subject=Desfiniciones - Contacto">miyoda@gmail.com</a>.
    </ion-card-content>
  </ion-card>
</ion-content>