<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Desfiniciones
    </div>
  </div>
  <div padding>
    <ion-item>
      <ion-label color="primary">Nombre</ion-label>
      <ion-input placeholder="Chuck Norris" [(ngModel)]="username" (input)="onChangeUsername($event.target.value)"></ion-input>
    </ion-item>
    <br/>
    <ion-button expand="block" (click)="createRoom()">Crear partida</ion-button>
    <br/>
    <ion-button expand="block" (click)="requestRoomId()">Unirse a partida</ion-button>
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Como funciona?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        "Desfiniciones" es un juego para jugar en familia, con los amigos o con enemigos...pero no para jugar solo.
        Empezar a jugar es fácil y rápido.
        <ul>
          <li>Que uno del grupo cree una sala y proporcione el código de esta sala al reso para que se unan a la partida.</li>
          <li>El sistema seleccionará aleatoriamente una palabra real pero usualmente poco conocida.</li>
          <li>Cada jugador escribirá una "desfinición" para esa palabra.</li>
          <li>Se mostrarán todas las "desfiniciones" con la definición real y se votará.</li>
          <li>El objetivo es acertar cual es la definición verdadera... y conseguir engañar al resto para que voten la tuya es la verdadera.</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Feedback</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Si encuentras algún fallo, te gusta el juego y quieres más palabras o alguna funcionalidad extra... contactame en <a href="mailto:miyoda@gmail.com?Subject=Desfiniciones - Contacto">miyoda@gmail.com</a>.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
